.filter {
    display: flex;
    padding: 20px;

    &__control {
        padding: 0 10px;
    }

    &__input {
        padding: 0 15px;
        border-radius: 5px;
        border: 1px solid #000000;
        font-size: 15px;
        height: 30px;

        &_large {
            width: 400px;
        }
    }

    &__button {
        cursor: pointer;
        background: #00875a;
        border: 2px solid #005e3e;
    }
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .avocado {
        width: 22%;
        height: 200px;
        margin: 15px 0;
        object-fit: cover;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
        }
    }
}
